<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../index.css">

    <title>Web-Vulnerability Platform</title>
</head>
<body>
<!-- Menu bar  to copied over files -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark MenuBar">
    <a class=" navbar-brand" href="./index.html">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="./pages/sql_injection.html">SQL Injection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./pages/xss.html">Cross-Site Scripting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./pages/csrf.html">Cross-Site Request Forgery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./pages/insecure_direct_object_references.html">Insecure Direct Object References</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./pages/oauth2.html">OAuth2 Vulnerabilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="prerender">Cookie Manipulation</a>
            </li>
            <span id="action-success" class="alert alert-success hidden" role="alert">Success</span>
            <span id="action-failure" class="alert alert-danger hidden" role="alert">Failure</span>
        </ul>
    </div>

</nav>
<main role="main" class="container">
    <h1>DOM Based Cookie Manipulation</h1>
    <div class="jumbotron">
        <hr><h3>What</h3>
        <p>
            Dom based vulnerabilities allow the attacker to manipulate data that they normally would not have control
            over. This may transform normally-safe data types into a potential malicious source. DOM-based cookie manipulation
            vulnerabilities arise when a script stores attacker-controllable information into a cookie.
        </p>
        <hr><h3>How</h3>
        <p>
            An attacker may be able to use this vulnerability by constructing a URL and persue the user to visit it. The
            URL will then store a malicious value in the cookie, such that upon returning on the original site, the cookie
            will change the behaviour of the site. There are a lot of possibilities here, which could harm the user or even
            multiple users.
        </p>
        <p>
            The most common source is the URL, which can be accessed via the locatino object. An attacker can construct
            a url which contains payload in the query string. Consider the following code:
        </p>
        <pre class="prettyprint">
goto = location.hash.slice(1)
if(goto.startsWith('https:')) {
    location = goto;
}</pre>
        <p>
            This piece of code is vulnerable to DOM based open redirection as the the loaction.hash is handled in an
            unsafe way. If the URL contains a hash fragment which start with 'https:' this code will change the location
            to that fragment. An attacker could exploit this vulnerability by constructing the following URL:
        </p>
            <pre class="prettyprint">https://www.innocent-website.com/example#https://www.evil-user.net</pre>
        <p>
            When a victim visits this URL, the JavaScript sets the value of the location property to https://www.evil-user.net,
            which automatically redirects the victim to the malicious site. This behavior could easily be exploited to
            construct a phishing attack, for example.
        </p>
        <hr><h3>Consequences</h3>
        <p>
            The impact of this vulnerability depends on the role that the cookie plays. If the cookie is used to track the
            session of the user the attacker may able to perform a session fixation attack. In this attack the cookie is
            replaced by another valid value, such that the user will be able to continue browsing, while in the mean the
            attacker is in possession of the actual session and thus can access everything that user could.
        </p>
        <p>
            Another possibility is that the cookie is used to control the behaviour of the site as consequence of user actions.
            For example this could be a variable url that is used direct the user to a different address. If the cookie is
            set in the front-end the user might be able to change this url in his advantage.
<!--            The attacker can add malicious payload to the url that is stored in the cookie. This cookie is loaded on the-->
<!--            page and when the malicious payload is appended properly, the attacker can execute any script he likes. A-->
<!--            common example is that the user is able to access different cookie value i.e. the cookie value that store-->
<!--            the session token, and thus can steal the session of the user.-->
        </p>
        <hr><h3>Prevention</h3>
        <p>
            Nearly all DOM-based vulnerabilities can be prevented by making sure the client-side code manipulates
            attacker-controllable data properly. Execute test whether the data makes sense before storing it, or avoid
            dynamically writing to cookies using dat that originates from an untrusted source (e.g. a url). Using a proper
            framework already goes great lengths. A vulnerability that leads to this being possible is the quotes that
            are used in the place where the cookie is used. Normally, most frameworks automatically make sure this is
            being dealt with.
        </p>
        <ul class="references">
            <li>Don't do stupid</li>
        </ul>
        <hr><h3>Examples</h3>
        <br>
        <p>
        <!--            -> Go to sample_page-->
            For this example we will be using a simple cookie-usage structure that allows the attacker to change the cookie,
            in such a way that the DOM tree of this page is affected. The following link will direct you to the sample_page, which
            saves a cookie with its own value, such that that cookie can be used to view that page. <br/>
            <a href='./pages/sample_page.html'>Visit the sample page</a><br/>
            Observe that upon returning to this page a cookie has been set to the value "http://localhost/pages/sample_page.html".
            Below will appear a link that uses the cookie to go to the sample page. <i>NOTE: the link is visible once the
            cookie has been set.</i><br/>
            <%if (locals.cookieValue) { %>
            <a href='<%-cookieValue%>'>Revisit the sample page</a>
            <% } %>
            <br/>
            The objective is to add payload to that cookie such that we influence the DOM tree on this page.
        <!--            -> Observe cookie has been stored (to go to sample page)-->
        </p>
        <hr><h4>The sample website and the evil website</h4>
        <p>
            To change the cookie value we need two things:
        </p>
        <ul class="references">
            <li>An evil site which we can use to change the cookie</li>
            <li>A method such that the user visits the evil website</li>
        </ul>
        <p>
            <br/>
            The evil website is located on the address and the code can be changed in the box below. Next to the box are
            three buttons, which are used to <strong>store</strong> the code for the webpage on the server, <strong>view</strong>
            the page on the server, and <strong>deliver</strong> the page to the victim. Delivering the page to the victim
            means creating a fishing link on the sample_page. The back-button is changed to a button to the evil website.
            Through this convenience we can change the cookie upon return on this site.
        </p>
        <pre class="prettyprint">
// The location of the malicious page:
    <span id="evilPageValue">http://localhost:81/pages/evil.html</span>
// The code currently stored in the malicious site (will be updated):
<textarea rows="4" class="nocode request-input" id="maliciousPageCode" onload="update_malicious_code()">
<iframe height=80% width=80% src="http://localhost"></iframe></textarea>
        </pre>
        <div class="btn-row">
            <button class="btn btn-primary exm-btn" onclick="deploy_malicious_page()">Store</button>
            <button class="reset-btn btn btn-secondary exm-btn" onclick="location.href = 'http://localhost:81/pages/evil.html'">View</button>
            <button class="reset-btn btn btn-secondary exm-btn" onclick="deliver_malicious_page()">Deliver</button>
        </div>
        <p>
            To recreate the cookie we redirect the victim to a page which imitates the sample page, and redirect the victim
            to the original page again, such that the victim will not notice the change. The following code shows a page
            which does exactly that.
        </p>
        <pre class="prettyprint">
<textarea readonly rows="3" class="nocode request-input">
<iframe width=100% height=100% src="http://localhost/pages/sample_page.html"
onload="if(!window.x)location.replace('http://localhost/prerender');window.x=1;">
</iframe></textarea>
        </pre>
        <p>
<!--            -> Write code for evil page-->
            If we use the code above and store it at the evil-website, and deliver this to the victim we observe that it
            does not change anything in the cookie. this is simply because we imitate the site exactly, without any payload
            added, which means that we change the cookie to the value it is supposed to have.
        </p>
        <hr><h4>Malicious payloads</h4>
        <p>
            The next step is to add malicious payload to the src of the iframe. As the iframe imitates the site, we can
            change this source and this source will be stored in the cookie. The idea here is to close the html tag and
            add a script to it, which will then be executed. The following code appends a parameter to the url as it
            will otherwise neglects the rest of the url. We then close the html tag and append our script to the url.
            In this case it will alert "Success" when the script is correctly executed, but there are a lot more harmful
            options in this.
        </p>
        <pre class="prettyprint">
<textarea readonly rows="4" class="nocode request-input">
<iframe width=100% height=100% src="http://localhost/pages/sample_page.html?parameter=notrelevant&'><script>alert('SUCCESS')</script>"
        onload="if(!window.x)location.replace('http://localhost/prerender');window.x=1;">
</iframe></textarea>
        </pre>
    </div>
</main>

<script src="./pages/dom_based_cookie_manipulation.js"></script>
<script src="cookie.js"></script>

</body>
</html>
